@import "~antd/dist/antd.less";

.ant-steps-item-title {
  font-size: 40px;
  padding: 3px 10px 10px 10px;
}

.ant-steps-item-description {
  // Couldn't find the exposed property to change the font-size in the Antd documentation.
  font-size: 25px !important;
}

.last-step > div > .ant-steps-item-content > .ant-steps-item-description {
  margin-left: 25px;
}