@import "~antd/dist/antd.less";

.selector {
  font-size: 20px;
  width: 220px;
  min-width: 220px;
}

.selector > span {
  color: fade(@text-color, 50%);
}

.selector > div.ant-select-selector {
  // Couldn't find the exposed property to change the border-radius in the Antd documentation.
  border-radius: 60px !important;
}

.selector > div > span > input {
  position: relative;
  top: -2px !important; // Little hack
}

.ant-select-disabled > div {
  // Couldn't find the exposed property to change the border-color and background for a disabled select
  // in the Antd documentation.
  border-color: rgba(0, 0, 0, 0.2) !important;
  background: rgba(0, 0, 0, 0.15) !important;
}

.ant-select-disabled > div > span.ant-select-selection-placeholder {
  color: @primary-1;
}

.ant-empty-description {
  color: fade(@text-color, 50%);
}

.ant-select-item {
  font-size: 20px;
}