@import "~antd/dist/antd.less";

@distance: 8px;
@left-distance: 2px;
@cut-distance: calc(@distance / 4);
@strips-size: 6px;
@strips-ratio: 50%;
@strips-angle: 45deg;

.app-title-effect {
  margin: 30px;
  font-size: 100px;
  position: relative;
  text-align: center;
  top: @distance;
  left: @distance;
  display: inline-block;
  color: @primary-3;
}

.app-title-effect:before {
  content: "Configs Comparator";
  display: block;
  position: absolute;
  text-align: center;
  @bleeding-horizontal: 15px;
  @bleeding-vertical: 0px;
  top: -@bleeding-vertical - @distance;
  left: -@bleeding-vertical - @distance;
  bottom: -@bleeding-horizontal + @distance;
  right: -@bleeding-horizontal + @distance;
  z-index: 1;
  @color: @primary-1;
  @size: calc(@strips-ratio / 2);
  @halfSize: calc(@size / 2);
  @p1: @halfSize;
  @p2: calc(50% - @halfSize);
  @p3: calc(50% + @halfSize);
  @p4: calc(100% - @halfSize);
  @fade: fade(@color,1);
  background-image: linear-gradient(@strips-angle,
    @color @p1, @fade @p1, @fade @p2, @color @p2,
    @color @p3, @fade @p3, @fade @p4, @color @p4);
  background-size: @strips-size @strips-size;
}

.app-title-effect:hover:before {
  animation: dash-animation 30s infinite linear;
}

.app-title-effect:after {
  z-index: 2;
  content: attr(data-text);
  position: absolute;
  left: -@left-distance;
  top: -@distance;
  color: @primary-6;
  text-shadow: @cut-distance @cut-distance @primary-2;
}

@keyframes dash-animation {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 100% 0
  }
}