@import "~antd/dist/antd.less";

.ant-form-item-explain-error,
.ant-form-item-explain-success {
  // Couldn't find the exposed property to change the font-size in the Antd documentation.
  font-size: 25px !important;
}

.ant-tooltip-placement-bottom > div > div.ant-tooltip-inner {
  font-size: 20px;
  width: 400px;
  margin-left: -70px;
}

.ant-form-item-control-input-content > button {
  margin-top: 20px;
}

.dummy-div {
  margin-top: -40px;
  margin-bottom: 90px;
  width: 220px;
  height: 25px;
}