@import "~antd/dist/antd.less";

tbody > tr:first-child > td > pre {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  vertical-align: middle;
  line-height: 40px;
}

tbody > tr:first-child > td > pre::selection {
  background: @primary-4;
}

.view-switch-row {
  margin: 10px 0;
}

.view-switch > span {
  font-size: calc(@font-size-base / 2);
}

.view-switch-color {
  // Couldn't find the exposed property to change background color in the Antd documentation.
  background: @primary-4 !important;
}

.ant-select {
  // Couldn't find the exposed property to change the font-size in the Antd documentation.
  font-size: 25px !important;
}