@import "~antd/dist/antd.less";

@error-color-hover: #e87390;

.danger-zone {
  margin-top: 30px;
  color: @error-color;
}

.danger-zone > div > button {
  background: @error-color;
  border-color: @error-color;
}

.danger-zone > div > button:hover,
.danger-zone > div > button:target,
.danger-zone > div > button:focus {
  background: @error-color-hover;
  border-color: @error-color-hover;
}

.danger-zone > div > div > span.ant-divider-inner-text {
  color: @error-color;
}

.branch-version > div > div > div > button {
  background: @error-color;
  border-color: @error-color;
}

.branch-version > div > div > div > button:hover,
.branch-version > div > div > div > button:target,
.branch-version > div > div > div > button:focus {
  background: @error-color-hover;
  border-color: @error-color-hover;
}

// Confirm popup
.ant-popover-inner {
  border: 2px solid @error-color;
  // Couldn't find the exposed property to change the border-radius in the Antd documentation.
  border-radius: 50px !important;
}

.ant-popover-arrow-content {
  // Couldn't find the exposed property to change the background in the Antd documentation.
  background: @error-color !important;
}

.ant-popover-message {
  // Couldn't find the exposed property to change the padding-bottom in the Antd documentation.
  padding-bottom: 0 !important;
}

.ant-popover-message > span > svg {
  width: 25px;
  height: 25px;
}

.ant-popover-message-title {
  padding-top: 5px;
  font-size: 25px;
}

.ant-popover-buttons > button {
  height: 40px;
  border-radius: 50px;
  border-color: @error-color;
  margin: 0;
  padding: 0 10px;
}

.ant-popover-buttons > button:hover,
.ant-popover-buttons > button:target,
.ant-popover-buttons > button:focus {
  background: @error-color-hover;
  border-color: @error-color-hover;
  color: @primary-1;
}

.ant-popover-buttons > .ant-btn-primary {
  background: @error-color;
}