@import "~antd/dist/antd.less";

.custom-error-message > div {
  background: @error-color;
  border-radius: 20px;
  color: @primary-1;
}

.custom-success-message > div {
  background: @success-color;
  border-radius: 20px;
  color: @primary-1;
}

.ant-message-custom-content {
  font-size: 25px;
}

.ant-message-custom-content > span > svg {
  width: 25px;
  height: 25px;
  color: @primary-1;
}