@import "~antd/dist/antd.less";

.ant-input {
  height: 30px;
  // Couldn't find the exposed property to change the width, font-size and border-radius in the Antd documentation.
  width: 220px !important;
  font-size: 25px !important;
  border-radius: 50px !important;
}

.element-title {
  font-size: 35px;
}

.ant-tooltip-inner {
  font-size: 20px;
  // Couldn't find the exposed property to change the border-radius in the Antd documentation.
  border-radius: 20px !important;
}