@import "~antd/dist/antd.less";

.ant-upload {
  padding: 5px;
}

.ant-upload.ant-upload-drag {
  background: @primary-1;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover,
.ant-upload.ant-upload-drag-hover,
.ant-upload-list-item:hover .ant-upload-list-item-info {
  background: @primary-3;
}